mixin frameX(text)
	p #{text} 

mixin list
	ul
		li foo
		li bar
	

mixin single
	div.logo
	div.welcome
	div.yqzplug
	div#title1
	div#subtitle1
	div#description1
	div#pics1
	div#facts1
		div#beforeYears1
		div#years
		div#afterYears1
	div#applet1
	div#boilerPlate1
	
