@import bourbon/bourbon
@import neat/neat
$parchment: #fefcaf
$dark-parchment :#e68a00
$brown-text: #522900
$light-brown: #b8704d
$dark-brown: #a34719
$white: #FFFFFF
$span: 10
$col-max: 12
$extra: ($col-max - $span)/2
$width: 996px
$pad-between: 10px
$boiler-pad: 30px 

=fix-size
	+shift($extra)
	+span-columns($span of $col-max)
	+pad($pad-between 0 $pad-between 0)
=bolden
	font-weight: bold
	font-size: 22px
	+pad($boiler-pad 0 0 0)

=title
	font-weight: bold
	font-size: 30px	

=single1($main-txt, $bg, $bg-dark, $w, $welcome-color,$cols, $bg-contrast, $bpad, $plaque-dark, $plaque-light)
	color: $main-txt
	background-color: $bg
	+linear-gradient($bg-dark ,$bg 8%,$bg 99% ,$bg-dark,$fallback: $bg)
	text-align: center
	font-size: 20px
	+span-columns($cols)
	width: $w
	font-family: "Trebuchet MS", Helvetica, sans-serif
	font-weight: lighter
	.welcomeC
		.welcomeTitle
			font-weight: bold
			font-size: 40px
		+fix-size
	+row()	
	.yqzplugC
		+bolden
		.listings
			+pad(10px)
			font-size: 22px
			+row()
		+fix-size
	+row()
	.importantC
		color: $welcome-color
		+linear-gradient($plaque-dark, $plaque-light 5%, $plaque-light 95%, $plaque-dark, $fallback: $plaque-light)
		border-radius: 20px	
		+border-style(double double double double)
		+fix-size
		+border-width(7px 7px 7px 7px)
		+border-color($plaque-dark)
		.titleC
			+title
			+fix-size
			border-bottom: thin solid $main-txt
		+row()
		.subtitleC
			+title
			+padding(0 0 30px 0)
			+fix-size
		+row()
		.descC
			+fix-size
	+row()
	.picsC
		+fix-size
	+row()
	.factsC
		.facts
			+title
			+fix-size
		+row
		.factss1
			+title
			+fix-size
		+row
		.auctionsline
			+title
			+fix-size
		+row
		.years
			+title
			+fix-size
	+row()
	.appletC
		+fix-size
	+row()
	.boilerC
		.title
			+bolden
		+fix-size
	+pad(0 0 $bpad 0)

.example1
	+single1($brown-text, $parchment, $dark-parchment, $width, $brown-text,$col-max, $white, $boiler-pad, $dark-parchment, $parchment)


$txt-grey: #3d3d29
$bg-grey: #9dbdbd
$bg-dark-grey: #527a7a
$bg-contrast-grey: #140a00
$yeller: #cc9900
.example2
	+single1($txt-grey, $bg-grey, $bg-dark-grey, $width, $brown-text ,$col-max, $bg-contrast-grey, $boiler-pad, $dark-parchment, $parchment)


