html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.example1 {
  color: #522900;
  background-color: #fefcaf;
  background-color: #fefcaf;
  background-image: -webkit-linear-gradient(#e68a00, #fefcaf 8%, #fefcaf 99%, #e68a00);
  background-image: linear-gradient(#e68a00, #fefcaf 8%, #fefcaf 99%, #e68a00);
  text-align: center;
  font-size: 20px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  width: 996px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: lighter;
  display: block;
  display: block;
  display: block;
  display: block;
  display: block;
  display: block;
  padding: 0 0 30px 0; }
  .example1:last-child {
    margin-right: 0; }
  .example1 .welcomeC {
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    padding: 10px 0 10px 0; }
    .example1 .welcomeC .welcomeTitle {
      font-weight: bold;
      font-size: 40px; }
    .example1 .welcomeC:last-child {
      margin-right: 0; }
  .example1::after {
    clear: both;
    content: "";
    display: table; }
  .example1 .yqzplugC {
    font-weight: bold;
    font-size: 22px;
    padding: 30px 0 0 0;
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    padding: 10px 0 10px 0; }
    .example1 .yqzplugC .listings {
      padding: 10px;
      font-size: 22px;
      display: block; }
      .example1 .yqzplugC .listings::after {
        clear: both;
        content: "";
        display: table; }
    .example1 .yqzplugC:last-child {
      margin-right: 0; }
  .example1::after {
    clear: both;
    content: "";
    display: table; }
  .example1 .importantC {
    color: #522900;
    background-color: #fefcaf;
    background-image: -webkit-linear-gradient(#e68a00, #fefcaf 5%, #fefcaf 95%, #e68a00);
    background-image: linear-gradient(#e68a00, #fefcaf 5%, #fefcaf 95%, #e68a00);
    border-radius: 20px;
    border-style: double;
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    padding: 10px 0 10px 0;
    border-width: 7px;
    border-color: #e68a00;
    display: block;
    display: block; }
    .example1 .importantC:last-child {
      margin-right: 0; }
    .example1 .importantC .titleC {
      font-weight: bold;
      font-size: 30px;
      margin-left: 8.5298%;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      padding: 10px 0 10px 0;
      border-bottom: thin solid #522900; }
      .example1 .importantC .titleC:last-child {
        margin-right: 0; }
    .example1 .importantC::after {
      clear: both;
      content: "";
      display: table; }
    .example1 .importantC .subtitleC {
      font-weight: bold;
      font-size: 30px;
      padding: 0 0 30px;
      margin-left: 8.5298%;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      padding: 10px 0 10px 0; }
      .example1 .importantC .subtitleC:last-child {
        margin-right: 0; }
    .example1 .importantC::after {
      clear: both;
      content: "";
      display: table; }
    .example1 .importantC .descC {
      margin-left: 8.5298%;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      padding: 10px 0 10px 0; }
      .example1 .importantC .descC:last-child {
        margin-right: 0; }
  .example1::after {
    clear: both;
    content: "";
    display: table; }
  .example1 .picsC {
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    padding: 10px 0 10px 0; }
    .example1 .picsC:last-child {
      margin-right: 0; }
  .example1::after {
    clear: both;
    content: "";
    display: table; }
  .example1 .factsC {
    display: block;
    display: block;
    display: block; }
    .example1 .factsC .facts {
      font-weight: bold;
      font-size: 30px;
      margin-left: 8.5298%;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      padding: 10px 0 10px 0; }
      .example1 .factsC .facts:last-child {
        margin-right: 0; }
    .example1 .factsC::after {
      clear: both;
      content: "";
      display: table; }
    .example1 .factsC .factss1 {
      font-weight: bold;
      font-size: 30px;
      margin-left: 8.5298%;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      padding: 10px 0 10px 0; }
      .example1 .factsC .factss1:last-child {
        margin-right: 0; }
    .example1 .factsC::after {
      clear: both;
      content: "";
      display: table; }
    .example1 .factsC .auctionsline {
      font-weight: bold;
      font-size: 30px;
      margin-left: 8.5298%;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      padding: 10px 0 10px 0; }
      .example1 .factsC .auctionsline:last-child {
        margin-right: 0; }
    .example1 .factsC::after {
      clear: both;
      content: "";
      display: table; }
    .example1 .factsC .years {
      font-weight: bold;
      font-size: 30px;
      margin-left: 8.5298%;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      padding: 10px 0 10px 0; }
      .example1 .factsC .years:last-child {
        margin-right: 0; }
  .example1::after {
    clear: both;
    content: "";
    display: table; }
  .example1 .appletC {
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    padding: 10px 0 10px 0; }
    .example1 .appletC:last-child {
      margin-right: 0; }
  .example1::after {
    clear: both;
    content: "";
    display: table; }
  .example1 .boilerC {
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    padding: 10px 0 10px 0; }
    .example1 .boilerC .title {
      font-weight: bold;
      font-size: 22px;
      padding: 30px 0 0 0; }
    .example1 .boilerC:last-child {
      margin-right: 0; }

.example2 {
  color: #3d3d29;
  background-color: #9dbdbd;
  background-color: #9dbdbd;
  background-image: -webkit-linear-gradient(#527a7a, #9dbdbd 8%, #9dbdbd 99%, #527a7a);
  background-image: linear-gradient(#527a7a, #9dbdbd 8%, #9dbdbd 99%, #527a7a);
  text-align: center;
  font-size: 20px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  width: 996px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: lighter;
  display: block;
  display: block;
  display: block;
  display: block;
  display: block;
  display: block;
  padding: 0 0 30px 0; }
  .example2:last-child {
    margin-right: 0; }
  .example2 .welcomeC {
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    padding: 10px 0 10px 0; }
    .example2 .welcomeC .welcomeTitle {
      font-weight: bold;
      font-size: 40px; }
    .example2 .welcomeC:last-child {
      margin-right: 0; }
  .example2::after {
    clear: both;
    content: "";
    display: table; }
  .example2 .yqzplugC {
    font-weight: bold;
    font-size: 22px;
    padding: 30px 0 0 0;
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    padding: 10px 0 10px 0; }
    .example2 .yqzplugC .listings {
      padding: 10px;
      font-size: 22px;
      display: block; }
      .example2 .yqzplugC .listings::after {
        clear: both;
        content: "";
        display: table; }
    .example2 .yqzplugC:last-child {
      margin-right: 0; }
  .example2::after {
    clear: both;
    content: "";
    display: table; }
  .example2 .importantC {
    color: #522900;
    background-color: #fefcaf;
    background-image: -webkit-linear-gradient(#e68a00, #fefcaf 5%, #fefcaf 95%, #e68a00);
    background-image: linear-gradient(#e68a00, #fefcaf 5%, #fefcaf 95%, #e68a00);
    border-radius: 20px;
    border-style: double;
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    padding: 10px 0 10px 0;
    border-width: 7px;
    border-color: #e68a00;
    display: block;
    display: block; }
    .example2 .importantC:last-child {
      margin-right: 0; }
    .example2 .importantC .titleC {
      font-weight: bold;
      font-size: 30px;
      margin-left: 8.5298%;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      padding: 10px 0 10px 0;
      border-bottom: thin solid #3d3d29; }
      .example2 .importantC .titleC:last-child {
        margin-right: 0; }
    .example2 .importantC::after {
      clear: both;
      content: "";
      display: table; }
    .example2 .importantC .subtitleC {
      font-weight: bold;
      font-size: 30px;
      padding: 0 0 30px;
      margin-left: 8.5298%;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      padding: 10px 0 10px 0; }
      .example2 .importantC .subtitleC:last-child {
        margin-right: 0; }
    .example2 .importantC::after {
      clear: both;
      content: "";
      display: table; }
    .example2 .importantC .descC {
      margin-left: 8.5298%;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      padding: 10px 0 10px 0; }
      .example2 .importantC .descC:last-child {
        margin-right: 0; }
  .example2::after {
    clear: both;
    content: "";
    display: table; }
  .example2 .picsC {
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    padding: 10px 0 10px 0; }
    .example2 .picsC:last-child {
      margin-right: 0; }
  .example2::after {
    clear: both;
    content: "";
    display: table; }
  .example2 .factsC {
    display: block;
    display: block;
    display: block; }
    .example2 .factsC .facts {
      font-weight: bold;
      font-size: 30px;
      margin-left: 8.5298%;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      padding: 10px 0 10px 0; }
      .example2 .factsC .facts:last-child {
        margin-right: 0; }
    .example2 .factsC::after {
      clear: both;
      content: "";
      display: table; }
    .example2 .factsC .factss1 {
      font-weight: bold;
      font-size: 30px;
      margin-left: 8.5298%;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      padding: 10px 0 10px 0; }
      .example2 .factsC .factss1:last-child {
        margin-right: 0; }
    .example2 .factsC::after {
      clear: both;
      content: "";
      display: table; }
    .example2 .factsC .auctionsline {
      font-weight: bold;
      font-size: 30px;
      margin-left: 8.5298%;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      padding: 10px 0 10px 0; }
      .example2 .factsC .auctionsline:last-child {
        margin-right: 0; }
    .example2 .factsC::after {
      clear: both;
      content: "";
      display: table; }
    .example2 .factsC .years {
      font-weight: bold;
      font-size: 30px;
      margin-left: 8.5298%;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      padding: 10px 0 10px 0; }
      .example2 .factsC .years:last-child {
        margin-right: 0; }
  .example2::after {
    clear: both;
    content: "";
    display: table; }
  .example2 .appletC {
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    padding: 10px 0 10px 0; }
    .example2 .appletC:last-child {
      margin-right: 0; }
  .example2::after {
    clear: both;
    content: "";
    display: table; }
  .example2 .boilerC {
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    padding: 10px 0 10px 0; }
    .example2 .boilerC .title {
      font-weight: bold;
      font-size: 22px;
      padding: 30px 0 0 0; }
    .example2 .boilerC:last-child {
      margin-right: 0; }

/*# sourceMappingURL=frame.css.map */
